
$titlefont: "UnifrakturCook", cursive;

@import "mixin";

h1,
h2 {
  font-family: $titlefont;
  font-size: 4rem;
}

.adresse {
  @include box-transparent;
}

.img {
  width: 100%;
}

.produit {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-10 {
  margin: 100px 0px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000;

  &:hover {
    color: #000;
  }
}

body {
  background-image: url(../img/complet.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.marche {
  font-size: 2rem;
}

.section {
  background-color: #ffff;
}

.au-fournil {
  @include box-transparent-blanc;
}

.le-fournil {
  height: 400px;

  @include box-transparent-blanc;
}

.paul {
  width: 100%;
}

.info {
  height: 550px;
}

img {
  width: 100%;
}

.taille {
  max-width: 150px;
}

.vol {
  max-width: 100px;
}
