
$bodyfont:"Chivo", sans-serif;

.adresse {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.404); /* Black w/opacity/see-through */
  color: #ffff;
  font-weight: bold;
  border: #ffff solid 5px;
}

.img {
  width: 100%;
}

.produit {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-10 {
  margin: 100px 0px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
  }

}

body {
  background-image: url(../img/complet.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: $bodyfont;
}

.marche {
  font-size: 2rem;
}

.section {
  background-color: #ffff;
}

.au-fournil {
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.404); /* Black w/opacity/see-through */
  color: #000;
  font-weight: bold;
  border: #ffff solid 5px;
}

.paul {
  width: 100%;
}