
// .adresse {
 // background-color: rgb(0,0,0); /* Fallback color */
 // background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
 // padding: 50px 0;
//}

.info {
  color: #afafaf;
  font-size: 1.5rem;
  background-image: url(../img/pains.jpg);
  height: 500px;
}

.img {
  width: 100%;
}

.produit {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-10 {
  margin: 100px 0px;
}

li {
  list-style: none;
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
  }

}
